<nav class="bg-[#EDE9FE] text-black shadow-md">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
        <a href="/" class="flex items-center space-x-3">
            <img src="/images/logo-khtn.png" alt="Logo Trường Đại học Khoa học Tự nhiên" class="h-14 w-14">
            <span class="text-xl font-semibold hover:text-gray-400">Hệ thống Quản lý sinh viên</span>
        </a>
        <ul class="flex space-x-6">
            <li>
                <a href="/add" class="font-semibold hover:text-gray-400 transition duration-200">
                    Thêm sinh viên
                </a>
            </li>
            <li>
                <a href="/search" class="font-semibold hover:text-gray-400 transition duration-200">
                    Tìm kiếm sinh viên
                </a>
            </li>
            <li>
                <a href="/list" class="font-semibold hover:text-gray-400 transition duration-200">
                    Danh sách sinh viên
                </a>
            </li>
            <li>
                <a href="/email-config" class="text-gray-700 font-semibold">
                    <img src="/images/setting-svgrepo-com.svg" alt="Cấu hình" width="24" height="24">
                </a>
            </li>
        </ul>
    </div>
</nav>